.facts {
   display: flex;
   position: relative;
   background-size: cover;
   background-position: center center;
   background-image: url("../multimedia/images/fun-fact.jpg");

   > .fact-item {
      min-height: 1px;
      overflow: hidden;
      padding: 60px 15px;
      text-align: center;
      position: relative;
      width: calc(100% / 4);

      > .fact-overlay {
         top: 0;
         right: 0;
         width: 100%;
         height: 100%;
         position: absolute;
         background: rgba(#FF3450, 0.8);
      }

      &:nth-child(even) > .fact-overlay {
         background: rgba(#2867DE, 0.8);
      }

      > .fact-item-content {
         display: flex;
         justify-content: center;

         .fact-item-icon {
            width: 50px;
            height: 50px;
            color: #ffffff;
            overflow: hidden;
            position: relative;
            margin-right: 15px;
            align-self: center;

            > svg {
               width: auto;
               height: auto;
               fill: #FFFFFF;
               max-width: 50px;
               max-height: 50px;
            }
         }

         .fact-item-details {
            .fact-item-count {
               color: #FFFFFF;
               font-size: 32px;
               font-weight: 700;
               line-height: 38px;
               position: relative;
            }

            .fact-item-info {
               color: #FFFFFF;
               margin-top: 5px;
               position: relative;
            }
         }
      }
   }
}
