header.is-fixed + .home-slider {
   margin-top: calc(#{$top-mat-navbar-height} + #{$main-mat-navbar-height});
}

.home-slider {
   .slider-item {
      height: 550px;
   }

   .slider-item-content {
      padding-top: 115px;
   }

   .slider-item-content-inner {
      width: 50%;

      > h2 {
         margin-top: 0;
         color: #FFFFFF;
         font-size: 48px;
         font-weight: 700;
         line-height: 48px;
         position: relative;
         margin-bottom: 15px;
      }

      > p {
         opacity: 0.8;
         color: #FFFFFF;
         margin-bottom: 50px;
      }

      > .mat-button {
         height: 34px;
         min-width: 90px;
         font-size: 12px;
         line-height: 34px;
         background: #FF3450;

         & :hover {
            background: #2867DE;
         }
      }
   }
}
