.testimonials {
   padding-top: 80px;
   padding-bottom: 100px;

   .testimonials-slider {
      position: relative;

      > {
         .slider-content {
            width: 100%;
            height: 100%;
            // display: flex;
            transform: translateX(0);
            transition: all 0.5s ease-out;

            &.active {
               cursor: grabbing;
               cursor: -webkit-grabbing;
            }

            &::after {
               height: 0;
               clear: both;
               content: ".";
               display: block;
               line-height: 0;
               visibility: hidden;
            }

            > .slider-item {
               width: 100%;
               float: left;
               height: 430px;
               min-height: 1px;
               padding: 0 20px;
               // flex: 0 0 100%;
               position: relative;

               > .slider-item-content {
                  max-width: 750px;
                  margin-left: auto;
                  margin-right: auto;
                  padding-top: 115px;
                  text-align: center;

                  .slider-item-content-inner {
                     width: 100%;
                     padding-left: 15px;
                     padding-right: 15px;

                     > {
                        h3 {
                           color: #333333;
                           margin-top: 0;
                           font-size: 24px;
                           font-weight: 400;
                           text-align: center;
                           margin-bottom: 25px;
                        }

                        p {
                           text-align: center;
                           margin-bottom: 47px;
                        }

                        img {
                           width: 100px;
                           height: 100px;
                           display: block;
                           max-width: 100%;
                           border-radius: 50%;
                           margin: auto auto 15px;
                           transform-style: preserve-3d;
                        }

                        div {
                           font-size: 16px;
                           margin-bottom: 15px;

                           > span {
                              display: block;
                              font-size: 12px;
                           }
                        }
                     }
                  }
               }
            }
         }

         .slider-controls {
            > .slider-controls-nav {
               width: 100%;

               > div {
                  top: 50%;
                  position: absolute;

                  &.nav-right {
                     right: 0;
                  }

                  i.material-icons {
                     width: 60px;
                     height: 60px;
                     color: #FF3450;
                     cursor: pointer;
                     font-size: 60px;
                     line-height: 60px;

                     &:hover {
                        color: #2867DE;
                     }
                  }
               }
            }
         }
      }
   }
}
