.upcoming-events {
   padding-top: 80px;
}

.upcoming-events .section-title > .section-title-icon > i.material-icons {
   transform: translateX(-7px);
}

.upcoming-events .event-slider {
   position: relative;
}

.upcoming-events .event-slider > .slider-content {
   width: 100%;
   height: 100%;
   display: flex;
   transform: translateX(0);
   transition: all 0.5s ease-out;
}

.upcoming-events .event-slider > .slider-content.active {
   cursor: grabbing;
   cursor: -webkit-grabbing;
}

.upcoming-events .event-slider > .slider-content > .slider-item {
   width: 100%;
   height: 600px;
   display: flex;
   flex: 0 0 100%;
   position: relative;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content,
.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-image {
   width: 50%;
   position: relative;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-image > img {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   vertical-align: middle;
   object-position: 50% 50%;
   transform-style: preserve-3d;
}


.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner {
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: $red;
   padding: 80px 60px;
   color: $white !important;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > h3 {
   font-size: 24px;
   margin: 25px 0 0;
   font-weight: 700;
   line-height: 30px;
   padding-bottom: 15px;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > p {
   opacity: 0.8;
   font-size: 14px;
   margin: 0 0 10px;
   line-height: 22px;
   padding-bottom: 15px;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .slide-meta > span {
   padding-right: 10px;
   display: inline-flex;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .slide-meta > span > i.material-icons {
   color: $white;
   font-size: 14px;
   background: $red;
   padding-right: 5px;
   align-self: center;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .speaker {
   color: $red;
   float: left;
   height: 24px;
   min-height: 28px;
   font-weight: 700;
   margin-top: 55px;
   position: relative;
   background-color: $white;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .speaker > .speaker-text {
   float: left;
   display: flex;
   line-height: 28px;
   padding: 0 25px 0 12px;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .speaker > .speaker-text > i.material-icons {
   font-size: 20px;
   margin-right: 7px;
   align-self: center;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .speaker > .speaker-thumb {
   float: left;
   margin-top: -11px;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .speaker > .speaker-thumb > img {
   width: 50px;
   float: left;
   height: 50px;
   margin-right: 13px;
   border: 1px solid $white;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .join-list {
   clear: left;
   float: left;
   display: flex;
   margin-top: 60px;
   overflow: hidden;
   padding-bottom: 0;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .join-list > .mat-button {
   height: 34px;
   min-width: 90px;
   font-size: 12px;
   font-weight: 700;
   background: $blue;
   line-height: 34px;
   text-align: center;
   text-transform: uppercase;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .join-list > .mat-button:hover {
   color: $blue;
   background: $white;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .join-list > .social-icon {
   display: flex;
   margin-top: 5px;
   margin-left: 20px;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .join-list > .social-icon > a {
   width: 25px;
   height: 25px;
   display: block;
}

.upcoming-events .event-slider > .slider-content > .slider-item > .slider-item-content > .slider-item-content-inner > .join-list > .social-icon > a > img {
   width: auto;
   height: auto;
   max-width: 20px;
   max-height: 20px;
}

.upcoming-events .event-slider > .slider-controls {
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   position: absolute;
}

.upcoming-events .event-slider > .slider-controls > .slider-controls-nav {
   width: 100%;
}

.upcoming-events .event-slider > .slider-controls > .slider-controls-nav i.material-icons {
   width: 60px;
   height: 60px;
   color: $white;
   cursor: pointer;
   font-size: 60px;
   line-height: 60px;
}

.upcoming-events .event-slider > .slider-controls > .slider-controls-nav i.material-icons:hover {
   color: $blue;
}
