.upcoming-events {
   padding-top: 80px;

   .section-title > .section-title-icon > i.material-icons {
      transform: translateX(-7px);
   }

   .slider-item {
      display: flex;
      height: 600px;
   }

   .slider-item-image {
      width: 50%;
      position: relative;
   }

   .slider-item-content {
      width: 50%;
   }

   .slider-controls-nav {
      > div {
         i.material-icons {
            color: #2867DE;

            &:hover {
               color: #333;
            }
         }
      }
   }

   .slider-item-content-inner {
      padding: 80px 60px;
      background: #FF3450;

      > h3 {
         font-size: 24px;
         margin: 25px 0 0;
         font-weight: 700;
         line-height: 30px;
         padding-bottom: 15px;
      }

      > p {
         opacity: 0.8;
         padding-bottom: 15px;
      }

      > .slide-meta {
         > span {
            padding-right: 10px;
            display: inline-flex;
         }

         i.material-icons {
            color: #FFFFFF;
            font-size: 14px;
            padding-right: 5px;
            align-self: center;
            background: #FF3450;
         }
      }

      > .speaker {
         float: left;
         height: 24px;
         color: #FF3450;
         min-height: 28px;
         font-weight: 700;
         margin-top: 55px;
         position: relative;
         background-color: #FFFFFF;
      }

      .speaker-text {
         float: left;
         display: flex;
         line-height: 28px;
         padding: 0 25px 0 12px;

         > i.material-icons {
            font-size: 20px;
            margin-right: 7px;
            align-self: center;
         }
      }

      .speaker-thumb {
         float: left;
         margin-top: -11px;

         > img {
            width: 50px;
            float: left;
            height: 50px;
            margin-right: 13px;
            border: 1px solid #FFFFFF;
         }
      }

      > .join-list {
         clear: left;
         float: left;
         display: flex;
         margin-top: 60px;
         overflow: hidden;
         padding-bottom: 0;

         > .mat-button {
            height: 34px;
            min-width: 90px;
            font-size: 12px;
            line-height: 34px;
            background: #2867DE;

            &:hover {
               color: #2867DE;
               background: #FFFFFF;
            }
         }

         .social-icon {
            display: flex;
            margin-top: 5px;
            margin-left: 20px;

            > a {
               width: 25px;
               height: 25px;
               display: block;
               margin-left: 5px;
            }

            img {
               width: auto;
               height: auto;
               max-width: 25px;
               max-height: 25px;
            }
         }
      }
   }
}
