.input-group {
  position: relative;
  margin-bottom: 45px;
  .input-inner {
    height: 100%;
    position: relative;
  }
  input {
    width: 100%;
    border: none;
    color: #555555;
    display: block;
    font-size: 18px;
    background: transparent;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid rgba(#FF3450, 0.1);
    &:focus {
      outline: none;
    }
  }
  label {
    top: 10px;
    left: 5px;
    color: #FF3450;
    font-size: 16px;
    position: absolute;
    font-weight: normal;
    pointer-events: none;
    transition: 0.2s ease all;
  }
  input:focus ~ label {
    top: -20px;
    color: #FF3450;
    font-size: 12px;
  }
  .underline {
    width: 100%;
    display: block;
    position: relative;
    &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      background: #FF3450;
      position: absolute;
      transition: 0.2s ease all;
    }
    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      background: #FF3450;
      position: absolute;
      transition: 0.2s ease all;
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }
  input:focus ~ .underline {
    &:after, &:before {
      width: 50%;
    }
  }
}
