$body-background: $white;
$roboto_font: '../vendor/fonts/roboto/';
$material_design_font: '../vendor/fonts/material-design-icons/';
$box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
$top-nav-font-size1: 13px;
$top-nav-font-size2: 11px;
$top-mat-navbar-height: 70px;
$main-mat-navbar-height: 100px;
